.box_step {
  position: relative;
  margin-bottom: 72px;
  padding-top: 28px;
}
.box_step:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -40px;
  width: calc(100% + 80px);
  height: 1px;
  background-color: #e7ecf0;
}
.box_step ul {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.box_step ul:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 25px;
  width: 100%;
  height: 1px;
  background: #565656;
}
.box_step ul:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 17px;
  width: 9px;
  height: 17px;
  background: url("../../../assets/images/common/icon_step_arrow.png") no-repeat right top;
  background-size: 100%;
}
.box_step li {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 0;
}
.box_step .step {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  background: #d6d3ff;
  border-radius: 50%;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  z-index: 1;
}
.box_step strong {
  display: block;
  margin-top: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #565656;
}
.box_step span {
  display: block;
  margin-top: 10px;
  line-height: 17px;
}
.box_step.col_red .step {
  background-color: #fedadc;
}
.box_step.col_red li.active .step {
  background-color: #ea343f;
}
.box_step.col_orange .step {
  background-color: #ffdac6;
}
.box_step.col_orange li.active .step {
  background-color: #ff8541;
}
.box_step.col_green .step {
  background-color: #c9f2dc;
}
.box_step.col_green li.active .step {
  background-color: #089d4d;
}
.box_step.col_green02 .step {
  background-color: #bdf1ee;
}
.box_step.col_green02 li.active .step {
  background-color: #39bab2;
}
.box_step.col_blue .step {
  background-color: #e1dffc;
}
.box_step.col_blue li.active .step {
  background-color: #473ee9;
}
.box_step.col_blue02 .step {
  background-color: #d6d9ff;
}
.box_step.col_blue02 li.active .step {
  background-color: #22297c;
}
.box_step.col_blue03 .step {
  background-color: #d0ecf8;
}
.box_step.col_blue03 li.active .step {
  background-color: #00b3ff;
}
.box_step.col_purple .step {
  background-color: #ecd7f9;
}
.box_step.col_purple li.active .step {
  background-color: #9539ce;
}
.box_step.col_pink .step {
  background-color: #ffccdb;
}
.box_step.col_pink li.active .step {
  background-color: #f9477d;
}
.box_step.col_gray .step {
  background-color: #e0e0e0;
}
.box_step.col_gray li.active .step {
  background-color: #7e7e7e;
}

@media all and (max-width: 1536px) {
  .box_step:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    height: 1px;
    background: #565656;
  }
  .box_step ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px 0;
  }
  .box_step ul:after {
    top: 164px;
  }
  .box_step ul li {
    width: 25%;
    max-width: 25%;
  }
}