.box_table_list {
  display: flex;
  gap: 20px;
}
.box_table_list .table_list_item {
  width: 100%;
  padding: 20px;
  border: 1px solid #e7ecf0;
  border-radius: 6px;
}
.tab_cont .box_table_list .table_list_item {
  padding: 0;
  border: 0;
}
.box_table_list .title {
  display: block;
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #473ee9;
}
.box_table_list .title:first-child {
  margin-top: 0;
}
.box_table_list .sub_title {
  display: block;
  margin-top: 10px;
  padding-left: 14px;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  background: url("../../../assets/images/common/icon_arrow_double.png") no-repeat left center;
  background-size: auto 12px;
}
.box_table_list .sub_form {
  display: flex;
  flex-direction: column;
  gap: 7px 10px;
  max-width: 348px;
}
.box_table_list .sub_form li {
  display: flex;
  justify-content: space-between;
}
.box_table_list .sub_form li .subject {
  min-width: 142px;
  white-space: nowrap;
}
.box_table_list .sub_form li .box_input {
  width: 100%;
}
.box_table_list table {
  table-layout: fixed;
  margin-top: 16px;
}
.box_table_list tbody th,
.box_table_list tbody td {
  padding: 4px 0 5px;
}
.box_table_list tbody th {
  position: relative;
  padding-left: 12px;
  text-align: left;
  vertical-align: top;
}
.box_table_list tbody th:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 12px;
  width: 3px;
  height: 3px;
  background: #565656;
  border-radius: 50%;
}
.box_table_list tbody th label {
  vertical-align: top;
}
.box_table_list .box_input,
.box_table_list .box_select,
.box_table_list .box_textarea {
  max-width: 348px;
}
.box_table_list .box_file_upload {
  overflow: hidden;
  width: 100%;
  max-width: 670px;
  margin-top: 18px;
  border: 1px solid #949495;
  border-radius: 6px;
}
.box_table_list .box_file_upload .box_file_btns {
  display: flex;
  padding: 20px;
  gap: 0 6px;
  background-color: #f7f8f9;
}
.box_table_list .box_file_upload .box_file_btns .btn_file {
  display: inline-block;
  height: 30px;
  padding: 0 7px 0 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  border-radius: 4px;
  background-position: left 7px center;
  background-repeat: no-repeat;
  background-color: #2e86d8;
  background-size: 16px 16px;
  cursor: pointer;
}
.box_table_list .box_file_upload .box_file_btns .btn_file.add {
  background-color: #473ee9;
  background-image: url("../../../assets/images/common/icon_file_add.png");
}
.box_table_list .box_file_upload .box_file_btns .btn_file.upload {
  background-image: url("../../../assets/images/common/icon_file_upload.png");
}
.box_table_list .box_file_upload .box_file_btns .btn_file.cancel {
  background-image: url("../../../assets/images/common/icon_file_cancel.png");
}
.box_table_list .box_file_upload .files {
  position: relative;
  padding: 10px 20px;
  border-top: 1px solid #949495;
}
.box_table_list .box_file_upload .files input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.box_table_list .box_file_upload .files .file_list.upload span {
  display: none;
}
.box_table_list .box_memo_wrap {
  display: flex;
  gap: 0 10px;
  width: 100%;
  margin-top: 20px;
}
.box_table_list .box_memo_wrap .box_memo {
  width: 100%;
  max-width: 348px;
  min-height: 90px;
  padding: 15px;
  background: rgba(133, 141, 250, 0.1);
  border-radius: 6px;
}
.box_table_list .box_memo_wrap .memo_title {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #473ee9;
}
.box_table_list .box_memo_wrap .memo_cont {
  margin-top: 6px;
}
.box_table_list .box_memo_wrap .memo_cont p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #565656;
}
.box_table_list .box_progress_wrap p + .box_progress {
  margin-top: 18px;
}
.box_table_list .box_progress {
  width: 100%;
  max-width: 348px;
  height: 20px;
  background: #f3f4ff;
  border-radius: 10px;
}
.box_table_list .box_progress .progress_bar {
  height: 100%;
  padding-left: 12px;
  background: #473ee9;
  border-radius: 10px;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #fff;
}
.box_tab_menu .box_table_list {
  padding: 0;
  border: 0;
  border-radius: 0;
}
.box_table_list .col_blue {
  color: #2e86d8;
}