.box_breadcrumb {
  display: flex;
  align-items: center;
  padding: 10px 0 20px;
}
.box_breadcrumb a,
.box_breadcrumb strong {
  display: inline-block;
  color: #565656;
}
.box_breadcrumb a {
  padding-right: 21px;
  background: url("../../assets/images/common/icon_arrow_right_small.png") no-repeat right 8px top 7px;
  background-size: 4px auto;
}
.box_breadcrumb + .box_top_ctrl {
  margin-top: 0;
  padding: 0;
}
.box_breadcrumb + .box_top_ctrl:before {
  display: none;
}