@charset "UTF-8";
.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
.form_wrapper + .form_wrapper {
  margin-top: 15px;
}
.form_wrapper .form_label {
  display: flex;
  align-items: center;
}
.form_wrapper .form_label .right_area {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0 6px;
}
.form_wrapper .label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333;
}
.form_wrapper .label span {
  position: relative;
  padding-right: 7px;
}
.form_wrapper .label.required span:after {
  content: "필수입력";
  position: absolute;
  right: 0;
  top: 5px;
  width: 4px;
  height: 4px;
  background: #db392e;
  border-radius: 50%;
  color: transparent;
  font-size: 1px;
  line-height: 1px;
  text-indent: -9999%;
}
.form_wrapper .form_item.row {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.form_wrapper .form_item.row .label {
  display: inline-block;
  margin: 0;
}
.form_wrapper .form_item.row .form_cont {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.form_wrapper .form_item.row .form_cont .sub_txt {
  margin-top: 0;
}
.form_wrapper.row .label {
  min-width: 137px;
  margin-bottom: 0;
  font-size: 14px;
}
.form_wrapper.row .form_item {
  display: flex;
  align-items: center;
}
.form_wrapper.row .form_item .form_cont {
  flex: 1;
}
.form_wrapper.style01 {
  gap: 20px 0;
}
.form_wrapper.style01 .form_item .label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #565656;
}
.form_wrapper.style01 .form_item .label:before {
  width: 3px;
  height: 3px;
}
.form_wrapper.style01 .form_item .sub_txt {
  margin-top: 10px;
}
.form_wrapper.style01 .form_item .box_input,
.form_wrapper.style01 .form_item .box_select,
.form_wrapper.style01 .form_item .box_textarea {
  max-width: 100%;
}
.form_wrapper.border {
  padding: 22px 20px;
  border: 1px solid #e7ecf0;
  border-radius: 6px;
}
.form_wrapper.col5 {
  flex-direction: row;
  gap: 0 30px;
}
.form_wrapper.col5 .form_item {
  flex: 1;
  width: 100%;
}
.form_wrapper .sub_txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #949495;
}
.tab_cont .form_wrapper {
  padding-top: 10px;
}