.box_step {
  position: relative;
  margin-bottom: 72px;
  padding-top: 28px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -40px;
    width: calc(100% + 80px);
    height: 1px;
    background-color: #e7ecf0;
  }
  ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 25px;
      width: 100%;
      height: 1px;
      background: #565656;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 17px;
      width: 9px;
      height: 17px;
      background: url("../../../assets/images/common/icon_step_arrow.png") no-repeat right top;
      background-size: 100%;
    }
  }
  li {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    width: 0;
  }
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    background: #d6d3ff;
    border-radius: 50%;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    z-index: 1;
  }
  strong {
    display: block;
    margin-top: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #565656;
  }
  span {
    display: block;
    margin-top: 10px;
    line-height: 17px;
  }
  &.col_red {
    .step {
      background-color: #fedadc;
    }
    li.active .step {
      background-color: #ea343f;
    }
  }
  &.col_orange {
    .step {
      background-color: #ffdac6;
    }
    li.active .step {
      background-color: #ff8541;
    }
  }
  &.col_green {
    .step {
      background-color: #c9f2dc;
    }
    li.active .step {
      background-color: #089d4d;
    }
  }
  &.col_green02 {
    .step {
      background-color: #bdf1ee;
    }
    li.active .step {
      background-color: #39bab2;
    }
  }
  &.col_blue {
    .step {
      background-color: #e1dffc;
    }
    li.active .step {
      background-color: #473ee9;
    }
  }
  &.col_blue02 {
    .step {
      background-color: #d6d9ff;
    }
    li.active .step {
      background-color: #22297c;
    }
  }
  &.col_blue03 {
    .step {
      background-color: #d0ecf8;
    }
    li.active .step {
      background-color: #00b3ff;
    }
  }
  &.col_purple {
    .step {
      background-color: #ecd7f9;
    }
    li.active .step {
      background-color: #9539ce;
    }
  }
  &.col_pink {
    .step {
      background-color: #ffccdb;
    }
    li.active .step {
      background-color: #f9477d;
    }
  }
  &.col_gray {
    .step {
      background-color: #e0e0e0;
    }
    li.active .step {
      background-color: #7e7e7e;
    }
  }
}

@media all and (max-width: 1536px) {
  .box_step {
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 200px;
      width: 100%;
      height: 1px;
      background: #565656;
    }
    ul {
      justify-content: center;
      flex-wrap: wrap;
      gap: 36px 0;
      &:after {
        top: 164px;
      }
      li {
        width: 25%;
        max-width: 25%;
      }
    }
  }
}
