.side_bar {
  position: relative;
  width: 80px;
  min-width: 80px;
  min-height: 100vh;
  background-color: #2e2f34;
  transition: all 0.4s;
  .logo {
    width: 100%;
    height: 71px;
    background: #473ee9 url("/assets/images/common/logo_small.png") no-repeat;
    background-size: contain;
  }
  .side_menu_list {
    position: relative;
    height: calc(100% - 71px);
    padding: 26px 3px;
    z-index: 1;
    &:hover {
      & + .box_ctrl_sidebar .btn_ctrl_sidebar {
        display: block;
      }
    }
  }
  .menu_item {
    display: block;
    position: relative;
    border-radius: 6px;
    &.active,
    &:hover {
      background-color: #25262b;
      .menu_anchor {
        color: #fff;
        .icon {
          &.icon01 {
            background-image: url("/assets/images/common/icon_menu01_on.png");
          }
          &.icon02 {
            background-image: url("/assets/images/common/icon_menu02_on.png");
          }
          &.icon03 {
            background-image: url("/assets/images/common/icon_menu03_on.png");
          }
          &.icon04 {
            background-image: url("/assets/images/common/icon_menu04_on.png");
          }
          &.icon05 {
            background-image: url("/assets/images/common/icon_menu05_on.png");
          }
          &.icon06 {
            background-image: url("/assets/images/common/icon_menu06_on.png");
          }
          &.icon07 {
            background-image: url("/assets/images/common/icon_menu07_on.png");
          }
          &.icon08 {
            background-image: url("/assets/images/common/icon_menu08_on.png");
          }
          &.icon09 {
            background-image: url("/assets/images/common/icon_menu09_on.png");
          }
          &.icon10 {
            background-image: url("/assets/images/common/icon_menu10_on.png");
          }
          &.icon11 {
            background-image: url("/assets/images/common/icon_menu11_on.png");
          }
          &.icon12 {
            background-image: url("/assets/images/common/icon_menu12_on.png");
          }
        }
      }
    }
    &:hover {
      .box_sub_menu {
        display: block;
      }
    }
  }
  .menu_anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px 0;
    width: 100%;
    height: 71px;
    padding: 15px 0 0 0;
    font-size: 15px;
    line-height: 18px;
    color: #8e8e8e;
    .icon {
      display: block;
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      &.icon01 {
        background-image: url("/assets/images/common/icon_menu01_off.png");
      }
      &.icon02 {
        background-image: url("/assets/images/common/icon_menu02_off.png");
      }
      &.icon03 {
        background-image: url("/assets/images/common/icon_menu03_off.png");
      }
      &.icon04 {
        background-image: url("/assets/images/common/icon_menu04_off.png");
      }
      &.icon05 {
        background-image: url("/assets/images/common/icon_menu05_off.png");
      }
      &.icon06 {
        background-image: url("/assets/images/common/icon_menu06_off.png");
      }
      &.icon07 {
        background-image: url("/assets/images/common/icon_menu07_off.png");
      }
      &.icon08 {
        background-image: url("/assets/images/common/icon_menu08_off.png");
      }
      &.icon09 {
        background-image: url("/assets/images/common/icon_menu09_off.png");
      }
      &.icon10 {
        background-image: url("/assets/images/common/icon_menu10_off.png");
      }
      &.icon11 {
        background-image: url("/assets/images/common/icon_menu11_off.png");
      }
      &.icon12 {
        background-image: url("/assets/images/common/icon_menu12_off.png");
      }
    }
    .menu_name {
      display: none;
    }
  }
  .box_sub_menu {
    display: none;
    position: absolute;
    left: calc(100% - 8px);
    top: 0;
    min-width: 159px;
    background-color: #25262b;
    border-radius: 6px;
  }
  .sub_menu {
    padding: 20px;
  }
  .sub_menu_item {
    white-space: nowrap;
    &.active,
    &:hover {
      color: #fff;
    }
    .sub_menu_anchor {
      display: block;
    }
  }
  .box_ctrl_sidebar {
    display: block;
    position: absolute;
    top: 0;
    right: -11px;
    width: 11px;
    min-height: 100vh;
    height: 100%;
    &:hover .btn_ctrl_sidebar {
      display: block;
    }
  }
  .btn_ctrl_sidebar {
    display: none;
    position: sticky;
    top: 50%;
    left: 80px;
    width: 11px;
    height: 33px;
    margin-top: -17px;
    background: #2e2f34;
    border-radius: 0px 4px 4px 0px;
    transition: all 0.4s;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 2px;
      top: 50%;
      width: 6px;
      height: 10px;
      margin: -5px 0 0 0px;
      background: url("/assets/images/common/icon_arrow_right_white.png") no-repeat center;
      background-size: 100%;
    }
    &:hover {
      display: block;
    }
  }
  &.open {
    min-width: 261px;
    width: 261px;
    .logo {
      background-image: url("/assets/images/common/logo_default.png");
    }
    .side_menu_list {
      padding: 26px 10px;
    }
    .menu_item {
      &.active {
        button.menu_anchor {
          background: url("/assets/images/common/icon_arrow_bottom_on.png") no-repeat right 20px center;
          background-size: 12px auto;
        }
        .box_sub_menu {
          max-height: 300px;
        }
      }
    }
    .menu_anchor {
      flex-direction: row;
      gap: 0 10px;
      height: 44px;
      padding: 0 0 0 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 44px;
      .menu_name {
        display: block;
      }
      .menu_name_simple {
        display: none;
      }
    }
    button.menu_anchor {
      background: url("/assets/images/common/icon_arrow_right_off.png") no-repeat right 20px center;
      background-size: auto 12px;
    }
    .box_sub_menu {
      display: block;
      position: static;
      overflow: hidden;
      min-width: auto;
      max-height: 0;
      transition: max-height 0.6s;
      background-color: transparent;
    }
    .sub_menu {
      padding: 0 0 16px 48px;
    }
    .sub_menu_item {
      cursor: pointer;
      &.active,
      &:hover {
        color: #fff;
      }
    }
    .btn_ctrl_sidebar {
      left: 261px;
      &:before {
        left: 0px;
        transform: rotate(180deg);
      }
    }
  }
}
