.box_dashboard_grid {
  display: grid;
  gap: 15px;
  overflow-y: auto;
  max-height: calc(100vh - 346px);
  &:not(.row) {
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    max-height: 100%;
    .box_grid_item {
      min-height: 225px;
      margin-top: 0;
      .grid_title {
        .icon {
          width: 24px;
          height: 24px;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-size: 100%;
          &.icon01 {
            background-image: url("../../../assets/images/icon_dashboard01.png");
          }
          &.icon02 {
            background-image: url("../../../assets/images/icon_dashboard02.png");
          }
          &.icon03 {
            background-image: url("../../../assets/images/icon_dashboard03.png");
          }
          &.icon04 {
            background-image: url("../../../assets/images/icon_dashboard04.png");
          }
          &.icon05 {
            background-image: url("../../../assets/images/icon_dashboard05.png");
          }
          &.icon06 {
            background-image: url("../../../assets/images/icon_dashboard06.png");
          }
          &.icon07 {
            background-image: url("../../../assets/images/icon_dashboard07.png");
          }
          &.icon08 {
            background-image: url("../../../assets/images/icon_dashboard08.png");
          }
        }
      }
    }
    .box_grid_item:nth-child(7) {
      grid-row-start: 1;
      grid-row-end: span 2;
      grid-column-start: 4;
      .subject {
        min-width: 110px;
      }
    }
    .box_grid_item:last-child {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: span 4;
    }
    .box_table_wrap {
      overflow-y: auto;
      height: 237px;
      thead {
        position: sticky;
        top: 0;
      }
    }
  }
}
@media all and (max-width: 1536px) {
  .box_dashboard_grid {
    &:not(.row) {
      grid-template-columns: repeat(3, 1fr);
      .box_grid_item {
        &:nth-child(7) {
          grid-row: 3/4;
          grid-column: 1/4;
          ul {
            display: flex;
            flex-wrap: wrap;
            gap: 9px 20px;
          }
          li {
            width: calc(50% - 10px);
            margin: 0;
          }
        }
        &:last-child {
          grid-row: 4/5;
          grid-column: 1/4;
        }
      }
    }
  }
}
