.btn_override {
  display: inline-block;
  padding-left: 17px;
  background: url("../assets/images/common/icon_write.png") no-repeat left center;
  font-weight: 500;
  font-size: 14px;
  color: #2e86d8;
  white-space: nowrap;
  background-size: 11px auto;
}
.btn_add_param {
  margin-bottom: 20px;
}
