.box_grid_wrapper {
  grid-template-columns: 1fr 2fr 303px;
  gap: 20px;
  .box_grid_item:first-child {
    grid-column: 1/4;
  }
  .box_top_ctrl .box_select {
    width: 380px;
  }
  .box_chart_total {
    border-bottom: 1px solid #e7ecf0;
    th,
    td {
      padding: 9px 20px;
      border-top: 1px solid #e7ecf0;
    }
    th {
      padding-right: 0;
      text-align: left;
    }
    td {
      text-align: right;
    }
    tfoot th {
      font-weight: 500;
      font-size: 18px;
    }
  }
}
@media all and (max-width: 1536px) {
  .box_grid_wrapper {
    .box_grid_item {
      &:nth-child(2) {
        grid-row: 2/3;
        grid-column: 1/4;
      }
      &:nth-child(3) {
        grid-row: 3/4;
        grid-column: 1/3;
      }
    }
  }
}
